	<script type="text/javascript">
	$('#layouts-page').live('pageinit', function() {
		$(function() {
			$( "#progressbar1" ).progressbar({
				value: 65
			});
		});
	});
	</script>

	<div id="progressbar1"></div>
	<br>
	<h3>What Is Your Company's Annual Sales?</h3>
	<br>
	<ul data-role="listview">
		<li><a href="/quote5" >Up to a $100,000</a></li>
		<li><a href="/quote5" >$100,001 - $500,000</a></li>
		<li><a href="/quote5" >$500,001 - $1,000,000</a></li>
		<li><a href="/quote5" >$1,000,001 - $10,000,000</a></li>
		<li><a href="/quote5" >More than $10,000,000</a></li>
	</ul>