	<script type="text/javascript">
	$('#layouts-page').live('pageinit', function() {


		$(function() {
			$( "#progressbar1" ).progressbar({
				value: 16
			});
		});
	});
	</script>

	<div id="progressbar1"></div>
	<br>
	<ul data-role="listview">
		<li><a href="/quote3" >Individual / Sole Proprietor</a></li>
		<li><a href="/quote3" >Corporation</a></li>
		<li><a href="/quote3" >General Partnership</a></li>
		<li><a href="/quote3" >Limited Liability Company</a></li>
		<li><a href="/quote3" >Limited Partnership</a></li>
		<li><a href="/quote3" >Cooperative Association</a></li>
		<li><a href="/quote3" >Common Law Trust</a></li>
	</ul>