	<img src="http://www.techinsurance.com/images/logo.png">
	<div class="center-wrapper">
		<div class="center-button"><a data-theme="b" data-role="button" href="tel:18006687020"><h2>Call Us Now! 1-800-668-7020</h2></a></div>
	</div>
	<br>
	<br>
	<ul data-role="listview" >
		<li><a href="http://www.techinsurance.com/products/">Products</a></li>
		<li><a href="http://www.techinsurance.com/press-releases/">Press</a></li>
		<li><a href="http://www.techinsurance.com/sample-quotes/">Sample Quotes</a></li>
	</ul>
