	<script type="text/javascript">
	$('#layouts-page').live('pageinit', function() {
		$(function() {
			$( "#progressbar1" ).progressbar({
				value: 40
			});
		});
	});
	</script>

	<div id="progressbar1"></div>
	<br>
	<h3>How Many Employees Do You Have?</h3>
	<br>
	<ul data-role="listview">
		<li><a href="/quote4" >1</a></li>
		<li><a href="/quote4" >2-3</a></li>
		<li><a href="/quote4" >4-5</a></li>
		<li><a href="/quote4" >6-10</a></li>
		<li><a href="/quote4" >11-20</a></li>
		<li><a href="/quote4" val="21">More than 20 Employees</a></li>
	</ul>



