
<div id="outercontent">
	<div id="container" class="clearfix">
		<div id="content">
			<div id="main-content">

				<h1>Business Insurance Products</h1>

				<p>TechInsurance offers a wide variety of insurance products to protect your business, your employees and your personal assets.  We've outlined the most requested policy types to help you quickly assess your needs. We invite you to select from the policy types below and read more about the various coverage options and uses.</p>

				<h2><a data-role="button" href="/professional-liability-insurance/">Professional  Liability / Errors and Omissions</a></h2>
				<p>Professional liability can include basic technology errors and omissions coverage or can be broadened to cover claims of software copyright infringement or even cyber liability.  Errors and Omissions coverage is available from more insurance companies than  ever and it is possible to customize a policy to address your specific  risks. Essentially, these polices protect you if a client alleges that  your company&rsquo;s professional negligence caused them to suffer a financial loss.  <a data-role="button" href="/professional-liability-insurance/">Learn more...</a></p>

				<h2><a data-role="button" href="/cyber-liability-insurance/">Cyber Liability</a></h2>
				<p>Often purchased as part of a Technology Professional Liability policy Cyber liability coverage is designed to protect IT businesses against liability and expenses arising from the theft or loss of data, as well as liability and expenses arising from a breach of data security or privacy, particularly when you are hosting client information. While your clients should carry their own cyber liability for the data and personally identifiable, confidential information stored on their servers, IT firms are wise to protect themselves with their own third-party coverage as well.  <a data-role="button" href="/cyber-liability-insurance/">Learn more...</a></p>

				<h2><a data-role="button" href="/general-liability-insurance/">General  Liability and Business Owners&rsquo; Package Policy</a></h2>
				<p>Commercial General Liability (CGL) is probably the most common business liability coverage.  General Liability coverage responds to claims of bodily injury (someone  comes into your office and slips and falls, or you go to a client&rsquo;s location  and physically injure someone) and claims of property damage (you knock a vase  off a desk during a client meeting). These policies typically also respond  to claims of personal injury (including slander or libel), and advertising  injury. General Liability can usually be purchased alone or in a package with  Property coverage, Hired and Non-owned Auto Liability and Umbrella or Excess  Liability.  <a data-role="button" href="/general-liability-insurance/">Learn more...</a></p>

				<h2><a data-role="button" href="/non-owned-hired-auto/">Hired Auto &amp; Non-Owned Auto</a></h2>
				<p>Typically added as an endorsement on a General Liability policy, Hired and Non-owned auto liability protects your  company if an employee has an accident in a personal vehicle and the employees  insurance is inadequate to pay the claim. When there are no vehicles titled in  the company name this coverage will meet the contract requirement for  Commercial Auto coverage.  <a data-role="button" href="/non-owned-hired-auto/">Learn more...</a></p>

				<h2><a data-role="button" href="/umbrella-liability-insurance/">Umbrella Liability (AKA Excess Liability)</a></h2>
				<p>When the amount of liability coverage provided by your General Liability, Auto Liability,  and/or Employers Liability is not enough, Umbrella or Excess Liability  coverage can be the solution. Umbrella coverage is typically added as an  endorsement on a General Liability policy, but is sometimes a separate  policy. Additional coverage is offered in increments of $1,000,000 up to  $10,000,000 or more.  <a data-role="button" href="/umbrella-liability-insurance/">Learn more...</a></p>

				<h2><a data-role="button" href="/workers-compensation-insurance/">Workers' Compensation Insurance</a></h2>
				<p>In many states, if you have any employees, you are required to cover them under a Workers' Compensation policy.  Workers' Compensation has two coverage areas: 1) medical and  disability coverage for on-the-job injuries or work related illness, and 2)  coverage for your liability if an employee is injured on the job and alleges  that your negligence contributed to the injury or illness (Employers&rsquo;  Liability).  In many states sole proprietors and company principals  such as owners, officers and partners can exclude themselves from workers'  compensation coverage.  <a data-role="button" href="/workers-compensation-insurance/">Learn more...</a></p>

				<h2>Employer's Liability coverage</h2>
				<p>Workers&rsquo; Compensation policies also provide coverage in the event that you are sued by an employee alleging that  your company&rsquo;s negligence or failure to provide a safe workplace was the cause  of the employee's injury or illness.</p>

				<h2><a data-role="button" href="/fidelity-bond/">Fidelity or Commercial Dishonesty Bond (AKA Employee Dishonesty)</a></h2>
				<p>Often required when you  have clients in banking or financial services, third party Employee Dishonesty  provides coverage when an employee steals money, equipment or other assets from  one of your clients. This may include theft of money by electronic funds  transfer. (First party fidelity covers your property but is applied for separately.)  <a data-role="button" href="/fidelity-bond/">Learn more...</a></p>

				<hr>
				<h1>Other Insurance Products</h1>
				<p>Based on your business type, ownership structure and employee size, you may also wish to consider more specialized insurance policies such as the following.  Please <a data-role="button" href="/about-us/contact-us/">contact us</a> to learn more about these policies.</p>

				<h2>Employment Practices Liability Insurance (EPLI)</h2>
				<p>An increasingly popular  coverage, EPLI responds to allegations such as discrimination, wrongful  termination and sexual harassment of employees. This coverage is seldom  required by client contracts, but can be very important for a rapidly growing  company. </p>

				<h2>Directors and Officers Liability (D&amp;O Insurance)</h2>
				<p>The personal assets of private companies&rsquo; directors  and officers are at risk from suits by a variety of entities: customers and  clients, shareholders, competitors or suppliers, and government agencies.  But the greatest number of suits against directors and officers are  employment-related lawsuits brought by employees of the company.  Directors and Officers insurance is frequently bundled in a package with  Employment Practices Liability Insurance (EPLI).</p>

				<h2>Property  Coverage</h2>
				<p>Coverage for your business owned property (desks, phones, computers, etc.) can be  included with General Liability coverage. Property insurance protects  your business property against physical loss or damage by theft, fire or other  means. A Business Owners&rsquo; Policy is a type of package policy that includes  General Liability and Property coverage for a single annual premium. </p>

				<h2>Commercial Auto</h2>
				<p>Coverage for liability associated with the use of vehicles titled in the company name.  Comprehensive and collision coverage are often included to cover damage to the  owned vehicles.</p>

				<p>Still want to learn more? We've assembled <a data-role="button" href="/articles/">educational articles</a> on these and other types of insurance in our resources section.</p>

				<p>Ready to get started?  Simply complete our <a data-role="button" href="/quote/?action=new">fast, online application</a> to receive a free quote for your insurance needs.</p>
				<h2>Auto and Homeowners Insurance</h2>
				<p>
					TechInsurance offers access to home and auto insurance from a name you trust: The Hartford, a leading insurance carrier that already provides business insurance to many TechInsurance customers. Known for its nearly 200-year tradition of financial stability and leadership, The Hartford makes insurance simple. You’ll get the coverage you need at a great price, with quotes and ongoing service provided by one of the best carriers in the business. <a data-role="button" href="/auto-insurance/">Learn more...</a>
				</p>

			</div>

		</div>
	</div>
</div>
